<div class="card bg-primary-100">
    <div class="card-content">
        <div class="card-content__header">
            <h3 class="card-title text-none text-secondary-500 mb-3"><em>{{ item.title }}</em></h3>
            <div class="card-content__body text-mono-600">
                {{ item.content }}
            </div>
        </div>
        {% if item.link %}
            <div class="card-content__footer mt-3">
                <a class="text-decoration-none"href="{{ item.link['url'] }}">{{ item.link['title'] }}<i class="fas fa-arrow-right ms-3"></i></a>
            </div>
        {% endif %}
    </div>
</div>