{# Base template for most pages #}

<main id="main" role="main">

    <div id="content" tabindex="-1">
        <div class="wrapper">
            {{ block('content') }}
        </div>
    </div>

</main>
