.card-grid {
    .row {
        height: 100%;
    }
    .card {
        margin: calc($grid-gutter-width * 0.5) 0;
        height: 100%;
        @include media-breakpoint-down(md) {
            margin: 7.5px 0;
        }
    }
    .project {
        .card {
            height: auto;
        }
        .project-column:nth-child(1) {
            .card { 
                width: 65%;
                @include media-breakpoint-down(lg) {
                    width: 75%;
                }
             }
            .card-thumbnail { padding-top: 120%; }
        }
        .project-column:nth-child(2) {
            .card { margin: -33% 10% 0 0; }
            .card-thumbnail { padding-top: 85%; }
            .card-content {
                color: $mono-100;
                background-color: $primary-400;
            }   
        }
        .project-column:nth-child(3) {
            .card { margin-top: 11%; width: 70%; margin-left: auto; }
            .card-thumbnail { padding-top: 65%; }
            .card-content {
                color: $mono-100;
                background-color: $primary-700;
            }   
        }
        .project-column:nth-child(4) {
            .card { 
                width: 60%;
                margin: -26% auto 0 auto;
                @include media-breakpoint-down(lg) {
                    width: 75%;
                }
             }
            .card-thumbnail { padding-top: 150%; }
            .card-content {
                color: $mono-100;
                background-color: $primary-900;
            }   
        }
        @include media-breakpoint-down(lg) {
            .project-column {
                .card {
                    width: 100% !important;
                    margin-top: 30px !important;
                    margin-left: 0 !important;
                }
                .card-thumbnail {
                    padding-top: 80% !important;
                }
            }
        }
    } 
    .col-md-6 {
        @include media-breakpoint-down(sm) {
            .card {
                padding-top: 85%;
            }
        }
    }
}

.offset-grid {
	display: grid;
	gap: $grid-gutter-width;
    &.three-column {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            ". clutch ."
            "market clutch mad"
            "market ht mad"
            "boston ht chicago"
            "boston ap chicago"
            ". ap .";
        .cell:nth-child(1) {
            grid-area: clutch;
        }
        .cell:nth-child(2) {
            grid-area: market;
        }
        .cell:nth-child(3) {
            grid-area: mad;
        }
        .cell:nth-child(4) {
            grid-area: boston;
        }
        .cell:nth-child(5) {
            grid-area: ht;
        }
        .cell:nth-child(6) {
            grid-area: chicago;
        }
        .cell:nth-child(7) {
            grid-area: ap;
        }
        @include media-breakpoint-down(xl) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr); 
            padding-bottom: 13.2%;
            grid-template-areas: unset;
            .cell {
                grid-area: unset !important;
            }
            .cell:nth-child(even) {
                position: relative;
                bottom: -50%;
            }
            .card {
                padding-top: 70.868%;
            }
        }
        @include media-breakpoint-down(md) {
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(1, 1fr); 
            gap: 15px;
            .cell:nth-child(even) {
                bottom: 0;
            }
        }
    }
    &.two-column {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr); 
        padding-bottom: 13.2%;
        .cell:nth-child(even) {
            position: relative;
            bottom: -50%;
        }
        .card {
            padding-top: 70.868%;
        }
        @include media-breakpoint-down(md) {
            .card {
                padding-top: 85%;
            }
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(1, 1fr); 
            gap: 15px;
            .cell:nth-child(even) {
                bottom: 0;
            }
        }
    }
    .card {
        margin: 0;
    }
}
