.badge {
    font-size: 12px;
    line-height: 1.25em;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: none;
    white-space: nowrap;
    text-decoration: none;
    padding: 6px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    gap: 6px;
    letter-spacing: 0.84px;
    border-radius: 6px;
    color: $mono-100;
    border: none;
    outline: none;
    .frosted-bg {
        @include FrostedBG;
    }
    &.status {
        &::before {
            content: '';
            display: inline-block;
            width: 9px;
            height: 9px;
            border-radius: 3px;
            margin-right: 12px;
            background-color: $mono-100;
        }
        &.purple-status::before { background-color: $purple; }
        &.violet-status::before { background-color: $violet; }
        &.magenta-status::before { background-color: $magenta; }
        &.teal-status::before { background-color: $teal; }
        &.green-status::before { background-color: $green; }

    }
}

.background--light, #tinymce {
    .badge {
        color: $mono-800;
    }
}
p > .badge {
    margin-bottom: 30px;
}


.timezone {
    width: 100%;
    max-width: 215px;
    pointer-events: none;
    height: 27px;
    overflow: hidden;
}