.content-block {
    display: flex;
    justify-content: center;
    position: relative;
    &__inner {
        width: 100%;
        &.background--light, &.background--primary {
            border-radius: 12px;
            margin: 0 24px !important;
            @include media-breakpoint-down(sm) {
                margin: 0 !important;
                border-radius: 0;
            }
        }
    }
    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
        pointer-events: none;
        &.parallax-background {
            background-position: 50% 30%;
            background-repeat: no-repeat;
            background-size: 120%;
            transform: translate3d(0,0,0);
        }
        &.contain {
            background-size: contain;
        }
        &.bottom {
            background-position: bottom;
        }
        &.top {
            background-position: top;
        }
        &.bottom-right {
            background-position: bottom right;
        }
    }
    &__background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.dark {
            background-color: rgba(0,0,0,.5);
        }
        &.light {
            background-color: rgba(255,255,255,.5);
        }      
    }
    .component-wrapper {
        position: relative;
        .text-wrapper:first-of-type {
            margin-top: 0;
        }
    }
}
