.slick {
    .slick-track {
        display: flex !important;
    }
    .slick-slide {
        height: inherit !important;
        margin: 0 18px;
    }
    &.visible {
        .slick-list {
            overflow: visible !important;
        }
    }
}
.logos {
    img {
        max-width: 150px;
        margin: 0 auto;
    }
}