@mixin H1 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 84px;
    font-style: normal;
    font-weight: 300;
    line-height: 96%;
    letter-spacing: -1.68px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
        font-size: 66px;
    }
    @include media-breakpoint-down(md) {
        font-size: 48px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 30px;
    }
}

@mixin H2 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: auto;
    letter-spacing: -1.44px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
        font-size: 54px;
    }
    @include media-breakpoint-down(md) {
        font-size: 42px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 26px;
    }
}

@mixin H3 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 96%;
    letter-spacing: -1.32px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
        font-size: 48px;
    }
    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 22px;
    }
}

@mixin H4 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 96%;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
        font-size: 42px;
    }
    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 18px;
    }
}

@mixin H5 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 132%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
        font-size: 30px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 18px;
    }
}

@mixin H6 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -1%;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

@mixin BodyLarge {
    font-family: 'neue-haas-grotesk-display';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 156%;
    @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 144%;
    }
}

@mixin BodyRegular {
    font-family: 'neue-haas-grotesk-display';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 156%;
    letter-spacing: 1px
}

@mixin BodyMedium {
    font-family: 'neue-haas-grotesk-display';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
    }
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

@mixin BodySmall {
    font-family: 'neue-haas-grotesk-display';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 156%;
    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }
}

// Defaults 
h1 { @include H1; }
h2 { @include H2; }
h3 { @include H3; }
h4 { @include H4; }
h5 { @include H5; }
h6 { @include H6; }

.h1 { @include H1; }
.h2 { @include H2; }
.h3 { @include H3; }
.h4 { @include H4; }
.h5 { @include H5; }
.h6 { @include H6; }

i,em {
    font-style: italic;
}
b, strong {
    font-weight: 700;
}
p {
    @include BodyRegular;
}
a {
    color: $mono-100;
    transition: all .3s ease;
    &:hover {
        color: $primary-500;
    }
}
#tinymce {
    a {
        color: $mono-800;
    }
}
// Custon Stylings
.text-primary {
    color: $primary-500;
}
.text-semi {
    @include BodyRegular;
}
.text-large {
    @include BodyLarge;
}
.text-small {
    @include BodySmall;
}
p.text-indent {
    padding-left: 18%;
    @include media-breakpoint-down(md) {
        padding-left: 0;
    }
}
.text-none {
    text-transform: none !important;
}

a.link {
    @include H6;
    display: inline-block;
    text-decoration: none;
    color: $primary-500;
    margin-bottom: 7px;
    border-bottom: 1px solid $primary-500;
    &:hover {
        color: $mono-100;
    }
}


// Custom Editor Specifics
#tinymce {
    h1,h2,h3,h4,h5 {
        margin-top: 0 !important;
    }
}

p:empty {
    margin-bottom: 0 !important;
}
