@mixin Display {
    font-family: 'neue-haas-grotesk-display';
    font-size: 104px;
    font-style: normal;
    font-weight: 400;
    line-height: 96%; 
    letter-spacing: -3.12px;
    i,
    em {
        font-family: "Instrument Serif";
        font-size: 108px;
        letter-spacing: -2.16px;
        @include media-breakpoint-down(lg) {
            font-size: 72px;
        }
        @include media-breakpoint-down(md) {
            font-size: 58px;
        }
    }
    @include media-breakpoint-down(lg) {
        font-size: 70px;
    }
    @include media-breakpoint-down(md) {
        font-size: 54px;
    }
}

@mixin H1 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 114%; /* 82.08px */
    letter-spacing: -1.44px;
    i,
    em {
        font-family: "Instrument Serif";
        font-size: 84px;
        letter-spacing: -2.52px;
        @include media-breakpoint-down(lg) {
            font-size: 60px;
        }
        @include media-breakpoint-down(md) {
            font-size: 42px;
        }
    }
    @include media-breakpoint-down(lg) {
        font-size: 54px;
    }
    @include media-breakpoint-down(md) {
        font-size: 42px;
    }
}

@mixin H2 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 60px;
    font-style: normal;
    font-weight: 450;
    line-height: 114%;
    letter-spacing: -1.8px;
    i,
    em {
        font-family: "Instrument Serif";
        font-weight: 400;
        letter-spacing: -1.2px;
        @include media-breakpoint-down(lg) {
            font-size: 45px;
        }
        @include media-breakpoint-down(md) {
            font-size: 34px;
        }
    }
    @include media-breakpoint-down(lg) {
        font-size: 42px;
    }
    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
}

@mixin H3 {
    font-family: "Instrument Serif";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 114%;
    letter-spacing: -0.48px;
    i,
    em {
        font-family: "Instrument Serif";
    }
    @include media-breakpoint-down(lg) {
        font-size: 36px;
    }
    @include media-breakpoint-down(md) {
        font-size: 32px;
    }
}

@mixin H4 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    letter-spacing: -1.48px;
    @include media-breakpoint-down(lg) {
        font-size: 30px;
    }
    @include media-breakpoint-down(md) {
        font-size: 26px;
    }
}

@mixin H5 {
    font-family: 'neue-haas-grotesk-display';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    letter-spacing: -1.36px;
    i,
    em {
        font-family: "Instrument Serif";
        line-height: 114%; 
        letter-spacing: -0.3px;
        @include media-breakpoint-down(lg) {
            font-size: 26px;
        }
        @include media-breakpoint-down(md) {
            font-size: 24px;
        }
    }
    @include media-breakpoint-down(lg) {
        font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 24px;
    }
}



@mixin BodyLarge {
    font-family: 'neue-haas-grotesk-display';
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 144%;
    @include media-breakpoint-down(lg) {
        font-size: 22px;
    }
    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
}

@mixin BodyRegular {
    font-family: 'neue-haas-grotesk-display';
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 1px;
    i,
    em {
        font-family: "Instrument Serif";
        line-height: 114%; 
        letter-spacing: -0.5px;
    }
    @include media-breakpoint-down(md) {
        font-size: 18px;
    }
}

// @mixin BodyMedium {
//     font-family: 'neue-haas-grotesk-display';
//     font-size: 18px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: auto;
//     @include media-breakpoint-down(lg) {
//         font-size: 16px;
//     }
//     @include media-breakpoint-down(md) {
//         font-size: 14px;
//     }
// }

@mixin BodySmall {
    font-family: 'neue-haas-grotesk-display';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }
}

// Defaults 
h1 { @include H1; }
h2 { @include H2; }
h3 { @include H3; }
h4 { @include H4; }
h5 { @include H5; }


.h1 { @include H1; }
.h2 { @include H2; }
.h3 { @include H3; }
.h4 { @include H4; }
.h5 { @include H5; }

i,em, .text-italic {
    font-style: italic;
    font-family: "Instrument Serif";
}
.eyebrow {
    display: flex;
    align-items: center;
    &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }
    &.text-secondary-500 {
        &::before {
            background-color: $secondary-500;
        }
    }
}
b, strong {
    font-weight: 700;
}
p {
    @include BodyRegular;
}
a {
    color: $primary-500;
    transition: all .3s ease;
    &:hover {
        color: $primary-900;
    }
}
#tinymce {
    a {
        color: $primary-500;
    }
}

.display { 
    @include Display; 
    color: $primary-900;
    i,em {
        color: $secondary-500;
    }
}

// Custon Stylings
.text-primary { color: $primary-500; }
.text-semi { @include BodyRegular; }
.text-large { @include BodyLarge; }
.text-small { @include BodySmall; }

p.text-indent {
    padding-left: 18%;
    @include media-breakpoint-down(md) {
        padding-left: 0;
    }
}
.text-none {
    text-transform: none !important;
}

a.link {
    display: inline-block;
    text-decoration: none;
    color: $primary-500;
    margin-bottom: 7px;
    border-bottom: 1px solid $primary-500;
    &:hover {
        color: $mono-100;
    }
}


// Custom Editor Specifics
#tinymce {
    h1,h2,h3,h4,h5 {
        margin-top: 0 !important;
    }
}

p:empty {
    margin-bottom: 0 !important;
}
