.footer {
    background-repeat: no-repeat;
    background-size: 360px;
    background-position: bottom right;
    background-image: url('../images/om_pattern_1.png');
    &__background-video {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__card {
        min-height: 272px;
        background-image: url('../images/om_icon.png');
        background-size: 26px;
        background-position: calc(100% - 30px) 30px;
        background-repeat: no-repeat;
    }
    &__brand {
        max-width: 300px;
        @include media-breakpoint-down(lg) {
            max-width: 250px;
            margin: 0 auto;
        }
    }
    
    .policy-row {
        margin-top: 50px;
        z-index: 1;
        position: relative;
        @include media-breakpoint-down(lg) {
            margin-top: 30px;
        }
    }
    @include media-breakpoint-down(lg) {
        background-size: 1024px auto;
        background-position: center -10%;
    }
    @include media-breakpoint-down(md) {
        background-size: 768px auto;
    }
}

.social-wrapper {
    border: 1px solid $mono-700;
    &.app-override {
        border: 1px solid $mono-300;
        .heateor_sss_sharing_ul {
            margin: 0 !important;
        }
        .heateor_sss_horizontal_sharing div.heateor_sss_sharing_ul a {
            margin: 0;
            border-right: 1px solid $mono-300 !important;
            @include Transition;
            &:last-child {
                border-right: none !important;
            }
            span {
                justify-content: center;
                display: flex !important;
                @include Transition;
            }
            svg {
                width: 35px;
            }
        }
    }
    .nav-link {
        border-right: 1px solid $mono-700;
        a {
            color: $mono-100;
            &:hover {
                color: $mono-900;
            }
        }
        &:last-child {
            border-right: none;
        }
    }
}