.abp-grid {
    display: grid;
    gap: 10%;
    &.scale-75 { grid-template-columns: 7fr 5fr; }
    &.scale-84 { grid-template-columns: 2fr 1fr; }
    &.scale-66 { grid-template-columns: 1fr 1fr; }
    .grid-item:nth-child(1) { order: 0; }
    .grid-item:nth-child(2) { order: 1; }
    @include media-breakpoint-down(lg) {
       grid-template-columns: 1fr !important;
       gap: 0;
       .grid-item:nth-child(1) { order: 0 !important; }
       .grid-item:nth-child(2) { order: 1 !important; }
    }
    &__reverse-row {
       .grid-item:nth-child(1) { order: 1; }
       .grid-item:nth-child(2) { order: 0; }
       &.scale-75 { grid-template-columns: 5fr 7fr; }
       &.scale-84 { grid-template-columns: 1fr 2fr; }
    }
    &__reverse-row-mobile {
       @include media-breakpoint-down(lg) {
          .grid-item:nth-child(1) { order: 1 !important; }
          .grid-item:nth-child(2) { order: 0 !important; }
       }
    }
 }