.page-template {
   
}


.logged-in {
    &.page-template header, &.single {
        padding-top: 122px;
    }
}
.header-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    &.top-left { background-position: top left; }
    &.top { background-position: top center; }
    &.top-right { background-position: top right; }
    &.right { background-position: center right; }
    &.center-right { background-position: center right; }
    &.bottom-right { background-position: bottom right; }
    &.bottom { background-position: bottom center; }
    &.bottom-left { background-position: bottom left; }
    &.left { background-position: center left; }
    &.center-left { background-position: center left; }
    &.center { background-position: center center; }
}
.single-insight {
    .container {
        h1,h2,h3,h4,h5,h6 {
            margin-top: 60px;
            margin-bottom: 60px;
            &::after {
                content: '';
                display: block;
                width: 100%;
                max-width: 506px;
                height: 3px;
                margin-top: 50px;
                background: rgb(82,226,250);
                background: linear-gradient(90deg, rgba(82,226,250,1) 0%, rgba(82,226,250,0) 100%);
            }
        }
        img {
            width: 100%;
            border-radius: 12px;
            overflow: hidden;
            margin: 12px 0;
        }
        p {
            padding-left: 30%;
            @include media-breakpoint-down(lg) {
                padding-left: 0;
            }
        }
    }
}

.single-case-study {
    background-image: url('../images/om_pattern_4.png');
    background-size: 618px;
    background-position: top right;
    background-repeat: no-repeat;

    @include media-breakpoint-down(lg) {
        .page-thumbnail .img-wrapper.square {
            padding-top: 56.25% !important;
        }
    }
    @include media-breakpoint-down(md) {
        .page-thumbnail .img-wrapper.square {
            padding-top: 56.25% !important;
        }
    }
}